<p>パスワード再設定のリクエストが行われました。以下のリンクをクリックしてパスワードを変更できます。</p>

<%= link_to 'パスワードを変更する', edit_api_v1_user_password_url(
  reset_password_token: @token,
  config: message['client-config'].to_s,
  redirect_url: message['redirect-url'].to_s
) %>

<p>もしあなたがパスワード再設定をリクエストしていない場合は、このメールを無視して下さい。</p>
<p>上記リンクをクリックして新しいパスワードを作成しない限り、パスワードは変更されません。</p>
